@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    }

@font-face {
    font-family: 'OpenSans-Light';
    src: url(../fonts/OpenSans-Light.ttf);
    }  
    
 @font-face {
     font-family: 'OpenSans-Bold';
     src: url(../fonts/OpenSans-Bold.ttf);
     }         

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
     }      

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu-Regular.ttf);
    }
    
@font-face {
    font-family: 'Ubuntu-Light';
    src: url(../fonts/Ubuntu-Light.ttf);
    }  
        
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(../fonts/Ubuntu-Medium.ttf);
    }     
    
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(../fonts/Ubuntu-Medium.ttf);
    }      
    