$color-violet: #834fe2;
$color-orange: #fcae26;
$color-black: #222222;
$color-gray: #444444;
$color_white: rgb(250, 250, 250);
$color-orange_hover: #e9ac39;
$color-orange_btn: #e19f22;
$color_gray: #444444;
$color_white: rgb(250, 250, 250);
